h1 {
    color: #27aedb;
    text-align: center;
}
.main {
    width: 600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.example {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    margin: 10px;
}